body {
    font-family: game;
    color: #000000;
    overflow: hidden;
    margin: 0;
    background-color: #deb887;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-direction: column;
    padding: 0 2%;
}

#loadingOverlay,
#rotateOverlay,
#helpOverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 96%;
    height: 100%;
    background-color: #deb887;
    color: #000000;
    font-size: 50px;
    padding: 0 2%;
}

#loadingOverlay,
#rotateOverlay {
    text-align: center;
}

#helpOverlay {
    overflow: auto;
    display: none;
}

#closeHelp {
    font-size: 35px;
    float: right;
    position: sticky;
    top: 10px;
}

h1 {
    text-align: center;
    font-size: 45px;
    margin: 10px;
}

h2 {
    font-size: 30px;
    margin: 10px 0 0 0;
}

.helpSpan,
.creditAnchor,
.creditSpan {
    font-size: 25px;
}

.helpSpan {
    display: block;
}

.creditAnchor {
    color: #55f;
    text-decoration: underline;
}

ul {
    list-style-type: square;
    margin: 0 0 50px 0;
}

button {
    font-family: game;
    margin: 5px;
    font-size: 25px;
    background-color: #5e4700;
    color: #fff;
    border: 5px solid #fff;
}

.langBtn {
    width: 150px;
}

/* ANY-POINTER MAY NOT WORK ON ALL BROWSERS*/
@media (orientation: landscape) or (any-pointer: fine) {
    #rotateOverlay {
        display: none;
    }
}

canvas {
    background: #deb887;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#upper {
    max-height: 30vh;
    width: 100%;
}

#center {
    flex-flow: column;
}

#left,
#right {
    min-height: 250px;
}

.adContainer {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 450px;
}

.storeBagde {
    height: 40px;
    padding: 0 5px;
}

#promotion {
    height: 50px;
    max-width: 650px;
}

#promotionSpan {
    font-size: 20px;
}