@font-face {
    font-family: game;
    src: url(/PixelOperator-Bold.ttf);
    font-display: swap;
}

body {
    font-family: game;
    color: #000000;
    margin: 0;
    background-color: #deb887;
    user-select: none;
}

#loadingOverlay,
#rotateOverlay {
    width: 96%;
    height: 100%;
    background-color: #deb887;
    font-size: 50px;
    padding: 0 2%;
    text-align: center;
}

#main {
    flex-direction: column;
    height: 100vh;
}

#gameContainer {
    display: none;
}

canvas {
    width: 98vw;
    aspect-ratio: 2.6 / 1;
}

#article {
    padding: 0 2%;
}

#backToGame {
    position: fixed;
    right: 2%;
    bottom: 10px;
    margin: 0;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.controllerButton,
img.keyboardMapping {
    height: 40px;
    vertical-align: middle;
    margin: 5px;
}

.keyboardMapping {
    display: inline-block;
}

.controllerButton {
    display: none;
}

h1 {
    text-align: center;
    font-size: 45px;
    margin: 10px;
}

#logo {
    height: 150px;
    width: 150px;
    max-height: 25vh;
    max-width: 50vw;
    object-fit: contain;
}

.badges {
    height: 30px;
    width: fit-content;
}

#creditSection {
    display: flex;
    flex-direction: column;

}

#creditBadge {
    width: 90%;
    max-width: 600px;
    height: 60px;
    object-fit: contain;
}

.creditSpan {
    font-size: 25px;
}

figure {
    text-align: center;
}

figcaption {
    display: none;
}

h2 {
    font-size: 30px;
    margin: 20px 0 0 0;
}

.articleParagraph {
    white-space: pre-line;
    margin: 0;
    font-size: 25px;
    text-align: justify;
}

.anchor {
    color: #3b486d;
    text-decoration: underline;
}

ul {
    font-size: 30px;
    list-style-type: square;
    margin: 0;
    padding: 0 0 50px 20px;
}

button {
    font-family: game;
    margin: 5px;
    font-size: 25px;
    background-color: #5e4700;
    color: #fff;
    border: 5px solid #fff;
}

.langBtn {
    width: 150px;
}

#rotateOverlay,
#loadingOverlay,
#bottom,
#promotion,
#upper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom {
    width: 100%;
    flex-direction: column;
}

#rotateOverlay {
    display: none;
}

.adContainer {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 450px;
}

.storeBadge {
    height: 40px;
    padding: 0 5px;
}

#promotion {
    height: 50px;
    max-width: 650px;
}

#promotionLabel {
    font-size: 23px;
    text-align: center;
    max-width: 50%;
}